---
title: events
layout: default
---

<div class="m-8">
<div class="bg-base-100 rounded-xl p-6 shadow-md">
    <div class="inline-flex items-center">
    <div class="inline-block border rounded-md py-2 px-8 mx-4 text-base-100 bg-secondary shadow-sm font-Poppins text-center w-24 h-24" >
               {{date | readableDate}}
                </div>
                <h1 class="inline-flex">{{title}}</h1>
    
    </div>
    <br>
    <br>
    <div class="m-8">
    {{ content | safe }}
    </div>
</div>
</div>