---
layout: blog
---

<section class="mt-15">
    {% set postslist = collections.post %}

    {% for post in postslist | reverse %}
    <div class = "flex-no-wrap p-6 transform rotate-6 bg-gradient-to-br from-blue-300 to-indigo-300 rounded-md">
        <article class="flex-auto my-8 shadow-lg p-6 hover:bg-gradient-to-br from-gray-100 to-gray-800 rounded-md transform -rotate-6">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ post.date | readableDate }}
                    by
                    <a>{{ post.data.author }}</a>

                </time>
            </p>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" class="text-indigo-500 font-bold text-lg hover:text-blue-500">
                    Read more →
                </a>
            </p>

        </article>
        </div>
    {% endfor %}
</section>