---
layout: blog
---

 <div class="mx-10 my-2 flex-1">
  <section class="ml-15">
    {% set postslist = collections.post %}

    {% for post in postslist | reverse %}
        <article class="transition duration-500 ease-in-out my-8 border rounded-md shadow-sm transform hover:-translate-y-1 hover:scale-105 hover:shadow-lg">
            <h2 class=" p-2 font-bold text-3xl bg-gradient-to-r from-tPalette3 hover:from-tPalette2 to-tPalette2 hover:to-tPallete2 text-gray-400 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="ml-2 text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ post.date | readableDate }}
                    by
                    <a>{{ post.data.author }}</a>

                </time>
            </p>
            {% if post.data.description %}
                <p class="ml-2 text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" class="ml-2  text-tPalette4 font-bold text-lg">
                    Read more →
                </a>
            </p>

        </article>
    {% endfor %}
</section>
</div>