---
layout: about
pagination:
    data: groups.group
    size: 1
    alias: group
permalink: "groups/{{ group.name | slugify }}/"
eleventyComputed: 
    # TODO: computed objects referencing paginated
    # data is broken for nunjucks templates. 
    # potential fix in https://github.com/11ty/eleventy/pull/3120
    # so this is a placeholder
    #title: {{group.name}}
    title: Orlando Devs Community Group
---
<center class="my-1">
    {% if group.logo %}
        <img src="{{group.logo.src}}" class="object-scale-down h-48 w-96" alt="{{group.logo.alt_text or 'No description.'}}"/>
    {% endif %}
    <h2 class="mb-3">{{group.name}}</h2>
    {{group.description or "No description provided"}}
    {% if group.meetup_url %}
        <div class="my-3">
            <h3><a href="{{group.meetup_url}}" target="_blank">Meetup Link</a></h3>
        </div>
    {% endif %}
</center>
