@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

/* Daisy UI default variable overrides */
:root {
  --rounded-box: 1rem;        /* border-radius for cards and other big elements */
  --rounded-btn: 0.5rem;      /* border-radius for buttons and similar elements */
  --rounded-badge: 1.9rem;    /* border-radius for badge and other small elements */

  --animation-btn: 0.25s;     /* bounce animation time for button */
  --animation-input: 0.2s;     /* bounce animation time for checkbox, toggle, etc */

  --padding-card: 2rem;       /* default card-body padding */

  --btn-text-case: uppercase; /* default text case for buttons */
  --navbar-padding: 0.5rem;    /* default padding for navbar */
  --border-btn: 2px;          /* default border size for button */
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}
h2{
  @apply text-3xl tracking-normal font-bold;
}

h3 {
  @apply text-2xl font-bold mb-3;
}
.body-link{
  @apply underline text-tPalette4;
}
code{
  @apply bg-gray-300;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.footer-link{
  @apply no-underline text-white hover:text-tPalette4;
}

.sponsor-logos{
  @apply h-10 mx-16 px-6 inline-flex w-48
}


.hide-scroll {
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /*Firefox*/
}

.hide-scroll::-webkit-scrollbar{
  display: none;
}