---
layout: events
---

<!--body for the events section-->

<link rel="stylesheet" href="/static/css/events.css">

<div id="events">
  {% for eventGroup in events %}
    <div class="event-column">
      <h2 class="host">
        <a href="{{ event_hosts[eventGroup.host].url | default("orlando-developers/") }}">
          {{ event_hosts[eventGroup.host].title | default("Orlando Developers") }}
        </a>
      </h2>

      {% for event in eventGroup.events %}
        {% if loop.index <= 1 %}
          {% include 'partials/event_card.html' %}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
