---
layout: default
pagination:
  data: flat_events
  alias: event
  size: 1
  addAllPagesToCollections: true
permalink: "/events/{{ event.datetime }}/{{ event.title | slug }}/index.html"
---

<!-- <link rel="stylesheet" href="/static/css/events.css"> -->
{% if event.locationAddress %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
{% endif %}


<style>
  @charset "UTF-8";

  /*
  .date-card {
    width: 25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    flex-direction: row;
  }
  */

  div#map {
    height: 180px;
    width: 30em;
  }

  article.event {
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }

  div.event-summary {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding-left: 1em;
    padding-right: 1em;
  }

  div.event-details {
    max-width: 50%;
  }

</style>



<div class="bg-base-300">

  <div class="">
    <div id="events">
      <h1>{{ event.host }}</h1>

      <article class="event">
        <div class="event-details">
        <img
            src="{{
              event.imageUrl
              | default(banner_img, true)
              | default("/static/img/default_event_banner.png", true)
            }}"
            class="event-banner"
        />

        <div>
          <h3 class="title">
            <a href="#">
              {{ event.title }}
            </a>
          </h3>

          <p>
            Sed blandit libero volutpat sed cras ornare arcu dui vivamus. Velit
            <a href="#">sed ullamcorper</a> morbi tincidunt ornare massa eget
            egestas purus.
          </p>

        </div>
        </div>

        <div class="event-summary">
          <div class="datestamp">
            <span class="datestamp-month">
              <abbr title="{{ event.datetime | fromIso | getLongMonth }}">
                {{ event.datetime | fromIso | getMonth }}
              </abbr>
            </span>
            <span class="datestamp-day py-1">
              {{ event.datetime | fromIso | getDay }}
            </span><span class="sr-only">,</span>
            <span class="datestamp-year">
              {{ event.datetime | fromIso | getYear }}
            </span>
          </div>
          <div style="margin-top: 1em;">
          <div class="time">
            <div>
              <div style="float: left; width: 1.5em;">⏰</div>
              <div>
                <time datetime="{{ event.datetime }}">
                  <div>{{ event.datetime | fromIso | getTime }}</div>
                </time>
              </div>
            </div>
          </div>

          <div class="location">
            {% if event.locationAddress %}
              <div id="map"></div>
              <script type="text/javascript">
                const mapCoords = {{event.locationAddress | geoApify | safe }};
                var map = L.map('map').setView(mapCoords, 13);
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);
                L.marker(mapCoords).addTo(map);
              </script>
              <div>
                <div style="float: left; width: 1.5em;">📍</div>
                <div>
                  <a href="{{ event.locationUrl }}"><span style="font-weight:700; color: #666666">{{ event.locationName }}</span></a> <br />
                  {{ event.locationAddress }}
                </div>
              </div>
            {% endif %}
          </div>

          <div class="price">
            <div>
              <div style="float: left; width: 1.5em;">🎟️</div>
              <div> {{ event.priceInDollars | replace(0, "Free") }} </div>
            </div>
          </div>
          </div>
        </div>

      </article>

    </div>
  </div>
</div>
