---
layout: about
---


<!--body for the about section-->
<div class="text-xl">
    <div>
        <hr>
        <div x-data="{ activeTab: 'mission' }">
            <div class="flex flex-col md:flex-row justify-center items-center mx-auto">
                <button @click="activeTab = 'mission'" :class="{ 'bg-sky-900 text-white': activeTab === 'mission', 'bg-base-100': activeTab !== 'mission' }" class="px-4 py-2 rounded-t-lg border-t-2 border-l-2 border-r-2 border-sky-900 lg:w-1/3 w-full">
                  <div class="flex items-center justify-center">
                    <img src="/static/img/odev-logo-blue.png" class="inline-flex h-10 mx-3" />
                    <strong class="inline-flex">
                      <h3>Our Mission</h3>
                    </strong>
                  </div>
                </button>
                <button @click="activeTab = 'board'" :class="{ 'bg-sky-900 text-white': activeTab === 'board', 'bg-base-100': activeTab !== 'board' }" class="px-4 py-3 rounded-t-lg border-t-2 border-l-2 border-r-2 border-sky-900 lg:w-1/3 w-full">
                  <h3>Orlando Devs Board</h3>
                </button>
                <button @click="activeTab = 'guidelines'" :class="{ 'bg-sky-900 text-white': activeTab === 'guidelines', 'bg-base-100': activeTab !== 'guidelines' }" class="px-4 py-3 rounded-t-lg border-t-2 border-l-2 border-r-2 border-sky-900 lg:w-1/3 w-full">
                  <h3>Community Program</h3>
                </button>
            </div>
              
  
            <div x-show="activeTab === 'mission'" class="mt-4 p-4 bg-gray-100">
            <!-- Content for "Our Mission" tab -->
                <h3 class="my-5">Mission</h3>
                <p class="pb-40">
                    Orlando Devs is an Orlando-area wide community focused on growing and supporting developers at all levels to build their
                    careers in Central Florida. Through the running of regular networking events, training sessions, hackathons, and
                    collaboration events, Orlando Devs works to support developers in skill development and community-building. As a member
                    of Innovate Orlando, the greater technology community of the Orlando area, Orlando Devs fosters collaboration between
                    technologists, entrepreneurs, enterprise businesses, academia, and more. With a keen focus on growing diversity in the
                    technology ecosystem, Orlando Devs supports programming that builds the talent pipeline for women and minorities in
                    technology.<br><br>
                    Orlando Devs gives back to the community through mentorship, hosted events, and volunteerism to grow the tech community
                    of Orlando. Orlando Devs is a 501(c)(3) non-profit organization.       
                </p>
            </div>
    
            <div x-show="activeTab === 'board'" class="mt-4 p-4 bg-gray-100">
            <!-- Content for "Orlando Devs Board" tab -->
            {% if board.directors %}
                    <ul class="">
                        <h3 class="my-5">Orlando Devs Board of Directors</h3>
                        {% for director in board.directors %}
                        <li><b>{{director.name}}</b> {{director.role}} - {{director.position}}</li>
                        {% endfor %}
                    </ul>
                    <br>
                {% endif %}
                {% if board.advisors %}
                    <ul>
                        <h3 class="my-5">Orlando Devs Board of Advisors</h3>
                        {% for advisor in board.advisors %}
                        <li><b>{{advisor.name}}</b> {{advisor.position}}</li>
                        {% endfor %}
                        <br>
                    </ul>
                {% endif %}
                <div>
                    {%if board.former %}
                    <h3 class="my-5">Former Orlando Devs Board Members</h3>
                    <ul>
                        {% for member in board.former %}
                    <li><b>{{member.name}}</b>{% if member.role %},
                    {{member.role}}
                    {% endif %}
                    </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
    
            <div x-show="activeTab === 'guidelines'" class="mt-4 p-4 bg-gray-100">
            <!-- Content for "Community Program" tab -->
            <p class="mt-5">
                The mission of ODevs is about lifting up the Orlando community through developer focused events, networking, and education. This also includes supporting other meetups that share in these values and mission.
                </p>
                <h3 class="mt-5">Benefits of the program</h3>
                <ul class="list-disc pl-8 mt-5">
                    <li>Cover meetup fees</li>
                    <li>Guaranteed promotion via newsletter, slack, social</li>
                    <li>Assist with booking venues and fees if applicable</li>
                    <li>Reimbursement for food and drink</li>
                    <li>When available, provide on-site coordinator/volunteer services</li>
                    <li>When appropriate assistance with swag</li>
                    <li>Access to ODev sponsors</li>
                    <li>Provide event planning services for larger events</li>
                    <li>Backup organizers to ensure continuity</li>
                    <li>Succession planning when organizers step down</li>
                    <li>Assistance with presentation materials, i.e. PowerPoint slides</li>
                    <li>Allow use of our 501(c)3 non-profit status for program-specific fundraising</li>
                    <li>Allow use of our 501(c)3 non-profit status for discounts</li>
                </ul>
                <h3 class="mt-5">Responsibilities of being an organizer</h3>
                <ul class="list-disc pl-8 mt-5">
                    <li>Programming ideas and date selection</li>
                    <li>Book speakers and provide the speaker information via the speaker form to the ODevs Program Coordinator</li>
                    <li>Providing your preferred dates to the ODevs Program Coordinator, two dates in advance for meetups (Preferred dates are not guaranteed)</li>
                    <li>Provide your preferred meetup location to the ODevs Program Coordinator, Credo, or Full Sail (Preferred location is not guaranteed)</li>
                    <li>Attend and run your events (let us know if you need a backup)</li>
                    <li>Add ODevs as admin on any sites</li>
                    <li>Include ODev sponsors on meetup presentations/materials</li>
                    <li>Abide by meetup location guidelines including leaving the space clean</li>
                    <li>You or a designated community member take pictures at events and upload them to the ODevs Google Photo Album</li>
                    <li>Review all ODev slides at meetups if the ODevs Program Coordinator is not available</li>
                    <li>Abide by and agree to the ODevs Code of Conduct</li>
                    <li>If organizers wish to obtain sponsorship for a specific event, they may do so. However, if they are seeking general sponsorships for their organization, they should go through ODevs.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
  