---
layout: default
title: Orlando Devs
path: home
---
<div class="relative mt-6 inline-flex flex-1 flex-col justify-center lg:justify-end items-center">
  <h1>
    Welcome to
    <strong class="bg-clip-text text-transparent bg-gradient-to-br from-tPalette2 to-tPalette4">
      Orlando Devs
    </strong>
  </h1>

  <p>
    <abbr title="Quicklinks" class="flex md:py-4">This is a community built of developers in Orlando and the central Florida Area</abbr>
  </p>

  {% include "./_includes/partials/content.html" %}
<div class="mx-8">
 {% include "./announcements/index.html" %} 
</div>
</div>
