<footer class="relative  flex min-h-100vh flex-col flex-1 bg-gradient-to-b from-tPalette2 to-tPalette3">
    <div class="inline-flex items-center justify-start w-2/5 px-20 mx-10 py-4"><img src="images\footer-odev.png" class="w-12 h-12" alt="Odevs Logo"/>
    <h3 class="inline-flex text-white ml-5" >Orlando Devs</h3>
    </div>
    <div class="flex px-20 mx-10 my-5">
    <small class="flex flex-row">
    <ul class="flex flex-col flex-wrap w-1/3 list-reset">
    <li>
    <a href="/about" class="footer-link"> Who are the Odevs?</a>
    </li>
    <li>
    <a href="/code-of-conduct" class="footer-link">Code of Conduct</a>
    </li>
    <li>
    <a href="/slack" class="footer-link">
    Odevs Slack
    </a>
    </li>
    <li>
    <a href="https://meetup.com/OrlandoDevs" class="footer-link">
    Odevs Meetup
    </a>
    </li>
    </ul>
    <ul class="flex flex-col flex-wrap w-1/3">
    Odevs Social Media
    <li class="ml-2"?
    <a href="https://twitter.com/OrlandoDevs" class="footer-link">
    <img src="https://img.icons8.com/ios/452/twitter--v1.png"
alt="twitter logo"
class="h-3.5 w-3.5 inline-flex mr-1.5"/> OrlandoDevs
    </a>
    </li>
    <li>
    <a href="https://github.com/OrlandoDevs" class="footer-link">
    <img src="https://img.icons8.com/carbon-copy/2x/github.png" alt="twitter logo" class="h-7 w-7 inline-flex"/> OrlandoDevs
    </a>
    </li>
    </ul>
    <p class="flex flex-wrap w-1/3">Official website for the Orlando Devs Community! We are an inclusive community, open to everyone who has a passion in software development in the Orlando area.
    </p>
    </small>
    </div>
</footer>
