<div class="inline-flex flex-row">
    <div class="mx-2 my-auto basis-1/4">
        <strong class="font-Poppins my-auto">
            <p class="font-semibold text-3xl">
                Thank you to our community sponsors!
            </p>
        </strong>
    </div>
    {%if sponsors.sponsors %}
    <div class="center-width sponsor-grid">

        {%for item in sponsors.sponsors %}
        <a href="{{item.link}}" target="_blank"
            class="sponsor-logos">
            <img src="{{item.img}}" class="sponsor-logo-images">
        </a>

        {%endfor%}

    </div>
    {%endif%}
</div>
</div>